.git
.github
__pycache__
*.pyc
*.pyo
*.pyd

.env
.venv
venv
env
.ipynb_checkpoints

chess_com_data/chess_data_cache
chess_com_data/*.db.wal
chess_com_data/*.db.tmp
chess_com_data/*.db-shm
chess_com_data/*.db-wal

*.log
.DS_Store