# Python
__pycache__/

# Local runtime databases / caches
chess_com_data/
*.duckdb.wal
*.duckdb.tmp
*.db-wal

# ignore all unless specified
*.duckdb
*.db

# TWIC data
!twic/
!twic/data/
!twic/data/twic_data.duckdb
!twic/outputs/
!twic/outputs/*.joblib
!twic/outputs/*.parquet

# Downloads
*.json
*.pgn
*.zip

# logs cache tmp
*.log
logs/
tmp/
temp/
.cache/

# notebooks/
# *.ipynb

# vs code 
.vscode/settings.json

# test files
\#*